<?xml version="1.0" encoding="UTF-8"?>
<settings
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
	xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<activeProfiles>
		<activeProfile>nexus-harmoney</activeProfile>
	</activeProfiles>

	<profiles>
		<profile>
			<id>nexus-harmoney</id>

			<repositories>
				<repository>
					<id>central</id>
					<url>https://repo1.maven.org/maven2</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				<repository>
					<id>harmoney-snapshots</id>
					<url>http://ec2-52-65-239-111.ap-southeast-2.compute.amazonaws.com:8081/nexus/content/repositories/efs-snapshots</url>
					<releases>
						<enabled>false</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
						<checksumPolicy>fail</checksumPolicy>
					</snapshots>
				</repository>
				<repository>
					<id>harmoney-releases</id>
					<url>http://ec2-52-65-239-111.ap-southeast-2.compute.amazonaws.com:8081/nexus/content/repositories/efs-releases</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
						<checksumPolicy>fail</checksumPolicy>
					</snapshots>
				</repository>
			</repositories>

			<pluginRepositories>
				<pluginRepository>
					<id>central-plugins</id>
					<url>https://repo1.maven.org/maven2</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</pluginRepository>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>harmoney-plugins</id>
					<name>plugins-release</name>
					<url>http://ec2-52-65-239-111.ap-southeast-2.compute.amazonaws.com:8081/nexus/content/repositories/efs-releases</url>
				</pluginRepository>
			</pluginRepositories>
			
		</profile>
	</profiles>

	<servers>
		<server>
			<id>harmoney-plugins</id>
			<username>deployment</username>
			<password>RB4SNLGWP5Zy</password>
		</server>
		<server>
			<id>harmoney-releases</id>
			<username>deployment</username>
			<password>RB4SNLGWP5Zy</password>
		</server>
		<server>
			<id>harmoney-snapshots</id>
			<username>deployment</username>
			<password>RB4SNLGWP5Zy</password>
		</server>
	</servers>

</settings>

